if !products.length
    = 'Your cart is empty'
else
    table.cart
        tr
            th Name
            th Price
            th Quantity
            th Cost
        each product in products
            tr.product
                td= product.name
                td.price= product.price + ' UAH'
                td
                    input(value= product.quantity data-id= product.id)
                td.cost= product.cost + ' UAH'
        tr.actions
            td(colspan=4)
                .buttons
                    button(data-action='recalculate') Recalculate
                    button(data-action='order') Make Order
        tr.total
            td(colspan=3) Total Cost:
            td= total + ' UAH'

    form
        p Input your email, please
        input(name='email')
        p And your phone number, please
        input(name='number')
